.root {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

body {
	margin: 0;
}

.App {

	width: 100%;
}

.chart {
	margin: 20px;
	padding: 30px;
	border: 1px solid black
}

.link {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	height: 40px;
	padding: 0;
}

.link > * {
	color: white;
}

.search {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	/* height: 60vh; */
}

.search-form > * {
	padding: 0px;
	padding-left: 3px;
	padding-right: 3px;
}

.search-form > input{
	margin-bottom: 10px;
	width: 30vw;
	height: 30px;
	border-radius: 5px;
	border: 1px solid black;
}

.search-form > button {
	width: 30vw + 1px;
	height: 32px;
	border-radius: 5px;
	border: 1px solid black;
}

.history {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	position: relative;
	height: 610px;
	width: 200px;
	border: 1px solid black;
	padding: 20px;
	text-align: center;
}

.list::-webkit-scrollbar {
	display: none;
}

.list {
	height: 400px;
	overflow: auto;
}

.list > *{
	margin: 3px;
}

#history-title {
	position: relative;
	margin-bottom: 10px;
	text-decoration: underline;

}

.main {
	display: flex;
	flex-direction: row;
	margin: 10px;
}
.charts {
	width: 80vw;
	height: 680px;
	overflow: auto;
}

.charts::-webkit-scrollbar {
	display: none;
}