.root {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

body {
	margin: 0;
}

.App {

	width: 100%;
}

.chart {
	margin: 20px;
	padding: 30px;
	border: 1px solid black
}

.link {
	background-color: black;
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	height: 40px;
	padding: 0;
}