.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

~/node_modules/
*/node_modules/

*/package-lock.json
~/package-lock.json
/package-lock.json
*/server/package-lock
package-lock.json

/utils
~/utils
/apiRoutes.js

*.md


# Logs
logs
*.log
npm-debug.log*